################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/out/build
/out/install/x64-Debug/bin/LEShaderConverter.exe
